<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Comparateur de Paris</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript"></script>
    {% block css %}{% endblock %}

    {% if title %}
    <title>{{ title }} - Projet Data Engineering </title>
    {% else %}
    <title>Comparateur de paris sportif </title>
    {% endif %}
  </head>
  <body>


    <div class="navbar navbar-inverse navbar-fixed-top headroom">
              <div class="container">
                      <div class="navbar-header">
                              <!-- Button for smallest screens -->
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                              <!--<a class="navbar-brand" style="display:table-cell;vertical-align:middle;margin-left:auto;margin-right:auto;margin-top:0.5;margin-bottom:0.5" href="/"><img src="/static/img/betsmart.png"></a>
                              -->
                      </div>
                      <div class="navbar-collapse collapse">
                              <ul class="nav navbar-nav pull-right">

                                      <li><a class="{% block accueil %}{% endblock %}" href="/">Accueil</a></li>
                                      <li><a class="{% block search %}{% endblock %}" href="/search">Recherche</a></li>
                                      <li><a class="{% block scrape %}{% endblock %}" href="/scrape">Scraper</a></li>
                                      <li><a href="/dash/">Dashboard</a></li>
                              </ul>
                      </div><!--/.nav-collapse -->
              </div>
      </div>

      <div class="content" style="margin-top:100px">
      {% block content %}{% endblock %}
      </div>

  </body>


</html>
